* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Product Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: black;
  background-color: #fff;

}
.container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
}

header {
  background-color: #3333;
  padding: 20px;
  height: 40vh;
  margin: auto;
  text-align: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/assets/img1.jpeg);
}

form {
  padding-top: 20px;
  display: grid;
  width: 80%;
  padding-left: 50px;
}
form input {
  padding: 14px;
  margin: 5px 0;
  border: 1px solid #9f9f9f;
  border-radius: 4px;
  width: 70%;
}
label {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 16px;
}
form h1 {
  margin: 0;
  font-size: xx-large;
  padding-top: 20px;
  padding-bottom: 30px;
}
.inp {
  display: flex;
  padding-top: 30px;
}

.cardPrice {
  width: 100%;
  font-size: 16px;
  color: black;
  background-color: #fff;
  padding-top: 120px;
  justify-content: space-around;
  align-items: center;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}

.cardPrice p,
h2 {
  padding-bottom: 20px;
}
.cardPrice h2 {
  font-size: 20px;
  font-weight: bold;
}

.place_order_btn {
  padding-top: 50px;
}

.place_order_btn button {
  justify-content: center;
  display: grid;
  align-items: center;

  width: 200px;
  height: 50px;
  background-color: white;
  color: black;
  border: solid 1px;
  border-radius: 10px;
  cursor: pointer;
}
.place_order_btn :hover {
  background-color: rgb(245, 180, 16, 0.5);
  border: 0.5px dotted;
}
.place_order_btn :active {
  background-color: rgb(245, 180, 16, 0.5);
}
.place_order_btn :focus {
  background-color: rgb(245, 180, 16, 0.5);
}
hr {
  width: 70%;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding-bottom: 20px;
}
.check_circle {
  line-height: 1.9;
  padding-bottom: 20px;
}
.check_circle input {
  border-color: #9f9f9f;
}
.check_circle label {
  font-size: 14px;
  font-weight: 100;
  color: #9f9f9f;
}
.secund_side {
  display: grid;
}
.secund_side p {
  line-height: 1.9;
  color: #9f9f9f;
  font-size: 12px;
  word-spacing: 2px;
  padding-bottom: 20px;
}
.secund_side h5 {
  padding-bottom: 10px;
}
.secund_p {
  line-height: 1.9;
}
/* .down_bar_section {
  background-image: url("/assets/Rectangle13.png");
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.9;
  width: 100%;
  height: 200px;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  

} */
.icon_details {
  padding-left: 10px;
}
.form-group.error input, .form-group.error textarea {
  border-color: red;
}
.form-group.error label {
  color: red;
}
.error {
  padding-top: 5px;
  color: red;
  font-size: 0.875em;
  margin-top: -10px;
  margin-bottom: 10px;
}
input:focus, textarea:focus {
  border-color: #ab811e;
  outline: none;
  box-shadow: 0 0 5px #ab811e;
}

.features {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  text-align: center;
}
.features .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
}
.features .box .text{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.features .box .text h3{
  font-size: 18px;
  font-weight: bold;
}
.features .box .text i{
  font-size: 35px;
  color: #1A1A1A   ;
}
.features .box p{
  line-height: 1.7;
  text-align: center;
  color: #777;
}