* {
    /* font-family: "Poppins", sans-serif; */
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Product Sans", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    display: grid;

  }

/* header{
  background-image: url(/assets/Rectangle\ 57.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #000000;
  height: 40vh;
 } */
header {
  background-image: url('../assets/Rectangle\ 57.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 90%;
  margin: 80px auto 0 auto; 
  position: relative;
}
 .head_content{
  align-items: center;
  justify-content: center;
  display: flex;
 
 }

 .head_content h1{
 
  font-size: 4rem;
  /* font-size: 3rem; */
  color: black;
  FONT-WEIGHT: 600;;


 }

 .contact_description{
  color: black;
  text-align: center;
  padding: 20px;

 }
 .contact_description p{
  font-size: 1rem;
  color: #9F9F9F;
 }

.contact_description h1{
  font-size: 3rem;
  color:black;
  font-weight: 600;

}

.main_content{
  width: 50%;
  display: grid;
  justify-content: space-evenly;
  align-items: center;

}

.main_content h3{

  padding-left: 20px;
  font-size: 1.5rem;
  color:black;
  font-weight: bold;

}
.main_content p{
  padding-left: 20px;
  font-size: 0.8rem;

}

span{
  display: flex;
  
}
.main_section{
  display: flex;
  justify-content: space-evenly;



}
.main_section .box{
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  padding-top: 20px;
  display: grid;
  width: 100%;
  height: 700px;
}
form input {
  margin: 5px 0;
  border: 1px solid #9f9f9f;
  border-radius: 4px;
  width: 100%;
}
label {
  padding-top: 20px;
  font-size: 16px;
}
form h1 {
  margin: 0;
  font-size: xx-large;
  padding-bottom: 30px;
}
#message{
  border-radius: 4px;
}

button {
  width: 200px;
  height: 50px;
  background-color: #ab811e;
  color: black;
  border: solid 1px;
  border-radius: 10px;
  cursor: pointer;
  
}

button:hover {
  background-color: rgb(245, 180, 16, 0.5);
  border: 0.5px dotted;
}
button:active {
  background-color: rgb(245, 180, 16, 0.5);
}
button:focus {
  background-color: rgb(245, 180, 16, 0.5);
}
/* .down_bar_section {
  background-image: url("/assets/Rectangle11.png");
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.9;
  width: 100%;
  height: 200px;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  

} */
.icon_details {
  padding-left: 10px;
}
.form-group.error input, .form-group.error textarea {
  border-color: red;
}
.form-group.error label {
  color: red;
}
.error {
  padding-top: 5px;
  color: red;
  font-size: 0.875em;
  margin-top: -10px;
  margin-bottom: 10px;
}
input:focus, textarea:focus {
  border-color: #ab811e;
  outline: none;
  box-shadow: 0 0 5px #ab811e;
}

.features {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
}
.features .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
}
.features .box .text{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.features .box .text h3{
  font-size: 18px;
  font-weight: bold;
}
.features .box .text i{
  font-size: 35px;
  color: #1A1A1A   ;
}
.features .box p{
  line-height: 1.7;
  text-align: center;
  color: #777;
}