
ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Header Styles */
  .hero {
    background-image: url('/media/images/1b43deb9299ed75e58d525c3f92e8d7e.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
 
  .hero h1{
    font-size: 200px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;

  }
  
  .navbar a {
    color: white; 
    margin: 0 10px;
  }
  
  .navbar_left {
    display: flex;
    align-items: center;
  }
  
  .navbar_left a {
    font-weight: 600;
  }
  
  .navbar_left ul {
    display: flex;
  }
  
  .logo_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px ;
  }
  
  .logo_div h3 {
    margin: 0;
    font-size: 16px;
    color: #ab811e;
    font-family: "Poppins", sans-serif;

  }
  
  .logo {
    width: 50px; 
    margin-bottom: 0;
  }
  
  /* Right side of nav */
  .navbar_right {
    display: flex;
    margin-right: 25px;
  }
  
  .navbar_right a {
    margin-left: 20px;
  }
  
  .navbar_right a i {
    color: white;
    font-weight: 900;
  }
.navbar a:hover{
    color: #ab811e;

  }